*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
header{
    height:50px;
    background: lightblue;
    width:100%;
}
header h1{
    font-weight:200;
    color: lightseagreen;
}
ul{
    background-color: seagreen;
}
li{
    text-decoration: black;
    font-size: 24px;
    background-color: cadetblue;
}